extends layout


block content
    .alert.alert-info.alert-step-1  Take initial photo
    .alert.alert-info.alert-step-2  Take second photo
    .alert.alert-success.alert-success-match  Photos match! (insert response result here)
    .alert.alert-success.alert-photo-success  Face is successfully detected in the photo taken
    .alert.alert-danger.alert-error-photo  Invalid photo. No face detected. Please restart and try again.
    .contentarea
        .camera
            video#video Video stream not available.
            button#startbutton Take photo
        canvas#canvas
        .output
            img#photo(alt='The screen capture will appear in this box.')
        .output
            img#photo2(alt='The 2nd screen capture will appear in this box.')
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/camera.js')


