extends layout

block content
    h3 TODO
    button#record Record
    |
    button#play Play
    |
    button#pause Pause
    |
    button#stop Stop
    |
    button#get-mp3 Get mp3
    |
    button#get-wav Get wav
    |
    button#get-base64 Get base64
    |
    button#download Download
    hr
    #status
        | Status:
        span paused
    #duration
        | Duration:
        span 0
    #current-time
        | Current time:
        span 0
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/microm.js')
    script(src='/js/voice.js')